doctype html
html
    head
        title Knees
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Mate+SC', type='text/css')
        link(rel='stylesheet', href='http://cdn.jsdelivr.net/foundation/3.1.1/stylesheets/foundation.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='http://cdn.jsdelivr.net/foundation/3.1.1/javascripts/modernizr.foundation.js')
        script(src='http://cdn.jsdelivr.net/foundation/3.1.1/javascripts/jquery.js')
        script(src='http://cdn.jsdelivr.net/foundation/3.1.1/javascripts/foundation.min.js')
    body
        .row
            .six.columns
                img(src='https://lh6.googleusercontent.com/YaXqAR271Yxtd0Cbg0VNp2Px00bxkXqbebCHdWfOZla2Hpx91RNye-3TL-mtPziLIlZN9U-LOv2fCUiBt9PfwEVuMhzAFA=w664-h965')
            #content.four.columns.pull-two
                block content
